<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>start</name>
          <description></description>
          <defaultValue>2020-01-01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>end</name>
          <description></description>
          <defaultValue>2020-12-31</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>step</name>
          <description></description>
          <defaultValue>15</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>move_to</name>
          <description>Move the dumped file to the local directory</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>result_root</name>
          <description>The result directory.</description>
          <defaultValue>/Users/hongliang/results</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:kirinisland/zaoci-tool.git</url>
        <credentialsId>root</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>CMD=&quot;python3 jobs/dump_table.py --table EverydayLyric --start $start --end $end --step $step&quot;

if [ ! &quot;$move_to&quot; = &quot;&quot; ]
then
  CMD=&quot;${CMD} --move-to ${move_to}&quot;
fi

echo &quot;${CMD}&quot;

${CMD}

source /Users/hongliang/envs/pytorch/bin/activate
PY_SCRIPT=&quot;/Users/hongliang/code/kirinBrain/lyric_recommender/run_cf.py&quot;
python ${PY_SCRIPT} --lyric-path &quot;${move_to}/EverydayLyric_$(date +&quot;%Y%m%d&quot;).csv&quot; --result-root ${result_root}

deactivate
python3 jobs/upload_model_recos.py --path &quot;${result_root}/recos_$(date +&quot;%Y%m%d&quot;).csv&quot; --table-name modelRecoTest
python3 jobs/upload_model_recos.py --path &quot;${result_root}/cold_start_$(date +&quot;%Y%m%d&quot;).csv&quot; --table-name coldStartTest
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>